<% content_for :content_header  do %>
  <section class="content-header">
    <h1>Admin::Users <small>#destroy</small></h1>
  </section>
<% end %>

<section class="content invoice">
  <p>Find me in app/views/admin/users/destroy.html.erb</p>
</section>